<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @flat.picture_url %>)">
  <div class="flat-title"></div>
    <p><%= @flat.name %></p>
    <p><%= @flat.address %></p>
  <div class="details">
    <h2>A bit more about this flat</h2>
    <p><%= @flat.description %></p>
  </div>
</div>